{% extends "layout.html" %}

<!-- Variável CSS -->
{% set pageId = "home-page" %}

<!-- Styles Sheet CSS -->
{% block styles %}
<link rel="stylesheet" href="./public/styles/home.css" />
<link rel="stylesheet" href="./public/styles/modal.css" />
{% endblock styles %}

<!-- Content -->
{% block content %}
<div class="container">
  <header>
    <img src="./public/assets/logo.svg" alt="" />
    <a href="/create">
      <span></span>
      Cadastre um ponto de coleta
    </a>
  </header>
  <main>
    <h1>Seu marketplace <br />de coleta de resíduos.</h1>
    <p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente.</p>
    <a href="#">
      <span></span>
      <strong> Pesquisar pontos de coleta </strong>
    </a>
  </main>
</div>
{% endblock content %}

<!-- Nodal -->
{% block modal %} {% include "partials/modal.html" %} {% endblock modal %}

<!-- Script -->
{% block scripts %}
<script src="./public/scripts/index.js"></script>
{% endblock scripts %}
