<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <!-- Font Family -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Ubuntu:wght@700&display=swap"
      rel="stylesheet"
    />

    <!-- ViewPort -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Icon favicon -->
    <link
      rel="shortcut icon"
      href="./assets/favicon.png"
      type="image/favicon"
    />

    <!-- Styles Sheet CSS -->
    <link rel="stylesheet" href="./public/styles/main.css" />
    <link rel="stylesheet" href="./public/styles/search.css" />
    <link rel="stylesheet" href="./public/styles/responsive.css" />

    <title>Ecoleta - Create Point</title>
  </head>
  <body>
    <div id="page-search">
      <header>
        <img src="./public/assets/logo.svg" alt="" />
        <a href="/">
          <span></span>
          Voltar para a Home
        </a>
      </header>

      <main>
        <h3>
          <strong>2 pontos</strong>
          encontrados
        </h3>

        <div class="cards">
          <div class="card">
            <img src="./public/assets/colectoria.png" alt="Colectoria" />
            <h2>Colectoria</h2>
            <h3>Resíduos Eletrônicos, Lâmpadas</h3>
            <p>
              Rio do Sul, Santa Catarina <br />
              Guilherme Gemballa, <br />
              Jardim América Nº 260
            </p>
          </div>

          <div class="card">
            <img src="./public/assets/papersider.png" alt="Papersider" />
            <h2>Papersider</h2>
            <h3>Papéis e Papelão</h3>
            <p>
              Rio do Sul, Santa Catarina<br />
              Guilherme Gemballa, Jardim América<br />
              Nº 260
            </p>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
