{% extends "layout.html" %}

<!-- Variável CSS -->
{% set pageId = "page-search" %}

<!-- Styles Sheet CSS -->
{% block styles %}
<link rel="stylesheet" href="./public/styles/search.css" />
{% endblock styles %}

<!-- Name page -->
{% block title %}
<title>Ecoleta - Create Point</title>
{% endblock title %}

<!-- Header -->
{% block content %} {% include "partials/header.html" %}
<main>
  {% if total > 0 %}

  <h3>
    <strong>{{total}} pontos</strong>
    encontrados
  </h3>

  <div class="cards">
    {% for place in places %}
    <div class="card">
      <img src="{{place.image}}" alt="{{place.name}}" />
      <h2>{{place.name}}</h2>
      <h3>{{place.items}}</h3>
      <p>
        {{ place.city }}, {{ place.state }}
        <br />
        {{ place.address }}
        <br />
        {{ place.address2 }}
      </p>
    </div>
    {% endfor %}
  </div>

  {%else%}

  <h4><strong>Nenhum</strong> local encontrado</h4>

  {% endif %}
</main>
{% endblock content %}
