#page-home {
  height: 100vh;
  background: url("../assets/home-background.svg");
  background-repeat: no-repeat;
  background-position: 35vw bottom;
}

#page-home .container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  height: 100%;
}

#page-home header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 2.5rem;
}

#page-home header a {
  display: flex;
  align-items: center;
  gap: 1rem;

  color: var(--title);
  font-weight: 700;
}

#page-home header a span {
  background: url("../assets/log-in.svg");
  width: 24px;
  height: 24px;
}

#page-home main {
  max-width: 560px;

  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

#page-home main h1 {
  font-size: 3.375rem;
  line-height: 64px;
}

#page-home main p {
  font-size: 1.5rem;
  line-height: 38px;
  margin-top: 1.5rem;
}

#page-home main a {
  width: 100%;
  max-width: 360px;
  background-color: var(--green-space);
  height: 4.5rem;

  display: flex;
  align-items: center;

  margin-top: 2.5rem;
  border-radius: 8px;
}

#page-home main a:hover {
  filter: brightness(0.8);
}

#page-home main a strong {
  flex: 1;
  text-align: center;
  font-size: 1rem;
  color: var(--white);
  font-weight: bold;
  line-height: 18.75px;
}

#page-home main a span {
  background-color: var(--green);
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 8px 0 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 400ms;
}

#page-home main a span::after {
  content: "";
  background: url("../assets/search.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
