* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-space: #34cb79;
  --green: #2fb86e;
  --green-light: #e1faec;

  --title: #322153;
  --text: #6c6c80;
  --text-light: #a0a0b2;

  --white: #ffffff;
  --background: #f0f0f5;
}

body {
  background-color: var(--background);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
}

body,
button,
input,
select,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
  color: var(--title);
  font-weight: 700;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

#home-page {
  background: url("../assets/home-background.svg") no-repeat;
  background-position: 35vw bottom;
  height: 100vh;
}

#home-page .container {
  max-width: 92rem;
  margin: 0 auto;
  padding: 0 1rem;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

#home-page header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 2.875rem;
}

#home-page header a {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-weight: bold;
  line-height: 18.75px;
  color: var(--title);
}

#home-page header a span::after {
  display: flex;
  content: "";
  background: url("../assets/log-in.svg");

  width: 24px;
  height: 24px;
}

#home-page main {
  max-width: 560px;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home-page main h1 {
  font-size: 3.375rem;
}

#home-page main p {
  font-size: 1.5rem;
  line-height: 38px;
  margin-top: 1.5rem;
}

#home-page main a {
  width: 100%;
  max-width: 360px;
  height: 4.5rem;

  border-radius: 8px;
  margin-top: 2.5rem;

  background-color: var(--green-space);
  color: var(--white);
  font-weight: 700;
  font-size: 1rem;
  line-height: 18.75px;

  display: flex;
  align-items: center;
  gap: 2.5rem;
  transition: 400ms;
}

#home-page main a:hover {
  filter: brightness(0.8);
}

#home-page main a span {
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--green);
  border-radius: 8px 0 0 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#home-page main a span::after {
  content: "";
  background-image: url("../assets/search.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

@media (max-width: 1080px) {
  #home-page {
    background-position: 25vw bottom;
  }
}

@media (max-width: 900px) {
  #home-page {
    background-position: 72vw bottom;
  }

  #home-page .container {
    align-items: center;
    text-align: center;
  }

  #home-page header a {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
  }

  #home-page main {
    align-items: center;
  }
}
@media (max-width: 720px) {
}
