@media (max-width: 900px) {
  #page-home {
    background-position: 70vw bottom;
  }
  #page-home .container {
    align-items: center;
    text-align: center;
  }
  #page-home header a {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  #page-home main {
    align-items: center;
  }
}
