@media (max-width: 900px) {
  #home-page {
    background-position-x: 70vw bottom;
  }

  #home-page .container {
    align-items: center;
    text-align: center;
  }

  #home-page header a {
    position: absolute;
    bottom: 48px;

    left: 50%;
    transform: translateX(-50%);
  }

  #home-page main {
    align-items: center;
  }

  #page-search .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #page-create-point form legend {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  #page-create-point .field-group {
    display: flex;
    flex-direction: column;
  }

  #page-create-point .itens-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  #page-create-point .itens-grid li {
    width: 120px;
    height: 180px;
  }
}

@media (min-width: 1700px) {
  #home-page {
    background-position-x: 50vw;
  }
}

@media (max-height: 760px) {
  #home-page {
    background-position-y: 200px;
  }
}
